@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg ,rgb(233, 225, 231) ,rgb(224, 201, 224))
}
.container{
    background-color: white;
    width: 90%;
    max-width: 400px;
    padding:20px;
    box-shadow: 0 4px 10px rgb(66, 63, 63);
}
.container .title{
    color:rgb(199, 57, 80);
     font-size: 25px;
     font-weight: 600;
     padding: 10px;
}
.container .input .info-name {
    font-weight: 500;
    margin:5px 0;
    color: rgb(102, 50, 58);
}
.container .input input{
    width: 100%;
    height: 30px;
}


.container .btn  {
    width:100%;
    background-color:rgb(199, 57, 80) ;
    border-radius: 5px;
     height: 50px;
     border: none;
     margin:20px 0;
      text-align: center;
      cursor: pointer;
}
.container .btn .sub{
    
    font-size: 18px;
    color:white;
   
}